.header {
  padding-top: 6em;
  width: 100%;
  display: flex;
  flex-direction: column;  
  align-items: center;
  background-color: #d89921;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");  
}

.header-avatar {
  max-width: 200px;  
}

.header-avatar img {
  width: 100%;  
}

.header-username { 
  font-size: 1.5em; 
  margin-top: -30px;
  color: white;
}

@media screen and (min-width: 1024px) {
  .header {
    width: 30%;    
    float: left;
    clear: both;   
    margin: 225px 0 0 40px;
  }
}